<div id="map-container">
  <div id="map-canvas"></div>
</div>

<script async defer
  src='<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API']}&libraries=places&callback=initMap"%>'>
</script>
