

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<button style='display:inline;' class="btn">Locate Me</button>
<input id="address" name="address" placeholder="Start Typing A Location">

<div id="_form" class="hidden">
  <%= form_tag pins_path, method: :post do |f| %>
    <%= hidden_field_tag 'pin[latitude]', '' %>
    <%= hidden_field_tag 'pin[longitude]', '' %>
    <%= submit_tag 'Create Report', :class => "btn"%>
  <% end %>
</div>
