
$('#blank-form #pin_latitude').val('');
$('#blank-form #pin_longitude').val('');
$('#blank-form #pin_address').val('');

$('#ask-if-report').remove();
$('#question-mark').remove();
$('#blank-form .btn').remove();
$('#blank-form').append('<span>Report Saved</span>');

markerArrayIndex = userMarkerArray.findIndex(function(element) {
  element == infoWindowMarkerToSave;
});

userMarkerArray.slice(markerArrayIndex, 1);
