<div class="slider">
    <ul class="slides">
      <li>
      <img src="alice-donovan-rouse.png">
        <div class="slide-caption">
          <h3>Sanctuary</h3>
          <h5 class="light grey-text text-lighten-3">Empowering America’s immigrant community.</h5>
          <h6 class="photo-caption light grey-text text-lighten-3">Photo by: Alice Donovan Rouse</h6>
        </div>
      </li>
      <li>
      <img src="roya-ann-miller.png">
        <div class="slide-caption">
          <h3>You have rights!</h3>
          <h5 class="light grey-text text-lighten-3">Protect yourself.</h5>
          <h6 class="photo-caption light grey-text text-lighten-3">Photo by: Roya Ann Miller</h6>
        </div>
      </li>
    </ul>
  </div>
  <div class="mission-container">
  <%= render "mission" %>
  </div>
