<% if @user.alert_msg == nil %>
  <div>
    <%= form_for (@user) do |f|%>
      <%= f.label t('.message')  %>
      <%=f.text_field :alert_msg, :maxlength => "160" %>
      <div class="waves-effect waves-light btn"><%= f.submit t('.create_msg')%></div>
    <% end %>
  </div>
<% end %>
