<% if @user.alert_msg == nil %>
  <div>
    <%= form_for (@user) do |f|%>
      <%= f.label :Message  %>
      <%=f.text_field :alert_msg  %>
      <div class="waves-effect waves-light btn"><%= f.submit "Create Message"%></div>
    <% end %>
  </div>
<% end %>
