<div class="container user-show">
<h5>Emergency Contacts:</h5>
<br>
  <% @user.contacts.each do |c|%>
  <div class="contact-display"><img class="phone-img" src="../phone.png"></div> <div class="contact-display"> <%= c.nickname %>: <%= c.phone_num %></div><br>

  <% end %>
  <br>
  <%= link_to "Add Contact", new_contact_path, class: "waves-effect waves-light btn"%>
  <br>
</div>
