<h4>Enter a contact in case of emergencies.</h4>

<%= form_tag(@contact) do %>
<%= hidden_field_tag 'user_id', @user.id %>
  <div class="waves-effect waves-light btn"><%= submit_tag 'Add contact' %></div>
<% end %>
