<br>
<div class="container">
  <div class="whole-rights-container">
    <%= render 'rights/msgsent' %>
    <h2>Your Rights</h2>
    <div class="your-rights">
      <div class="chevron-div"></div>
      <div class="question-div">
        <b><h5 class="title">If an officer knocks on your door, you do not have to open the door immediately. While the door is closed, do the following:</h5></b>
      </div>
        <div class="rights-container">
          <ul class="rights-list">
            <blockquote>
              <p><b>Ask:</b> "Are you immigration agents or from ICE (Immigration and Customs Enforcement)?".</p>
              <p><b>Ask:</b> "Why have you come to my home?"</p>
              <p>If the officers don’t speak your language, <b>you have the right to ask for an interpreter.</b></p>
              <p>If you open the door to speak with the officer, <b>they do not have the right to come inside your home without your permission.</b></p>
            </blockquote>
          </ul>
    </div>
  </div>
<div class="your-rights">
    <div class="chevron-div"></div>
    <div class="question-div">
      <h5 class="title">If agents ask to enter your home, do the following:</h5>
    </div>

      <div class="rights-container">
        <ul>
          <blockquote><b>Ask:</b> "Do you have a warrant?".
            <p>If they don’t have a warrant, <b>you do not have to let them into your home.</b></p>
            <p><b>Ask</b> the agents to please slide the warrant under the door.</p>
            <p>A valid warrant <b>must be signed by an Immigration Court Judge.</b> A warrant issued by DHS or ICE without a Judge’s signature is <b>invalid</b>. Look for a signature from a Judge at the top of the document.</p>
            <p>You do not need to open your door to the officers unless they show you a valid search or arrest warrant naming you or a person living at your address.</p>
            <p>If there is no valid reason for their entry, declare: <b>"I do not consent to your entry."</b></p>
          </blockquote>
        </ul>
    </div>
  </div>
<div class="your-rights">
    <div class="chevron-div"></div>
    <div class="question-div">
      <b><h5 class="title">If officers enter your home without your permission, remember the following:</h5></b>
    </div>

      <div class="rights-container">
        <ul>
          <blockquote><p><b>Do not resist.</b> You have the right to state that you did not consent to their entry, that you will exercise your right to remain silent, and to request a lawyer. Anyone else in your home also has the right to remain silent.</p>
          <p>Do not show any false documents (IDs, birth certificates, etc.) to the officers.</p>
          <b><u><p>Do not sign any papers prior to speaking with a lawyer.</p></u></b>
          </blockquote>
        </ul>
    </div>
  </div>
 </div>
</div>
</div>
