<div class="container">
  <h3>Your Rights</h3>
  <b><p>If an officer knocks on your door, you do not have to open the door immediately. While the door is closed, ask the following questions:</p></b>

  <p>Ask if they are immigration agents or from ICE (Immigration and Customs Enforcement).</p>

  <p>Ask why they have come to your home.</p>

  <p>If the officers don’t speak your language, you have the right to ask for an interpreter.</p>

  <p>If you open the door to speak with the officer, they do not have the right to come inside your home without your permission.</p>

  <b><p>If agents ask to enter your home:</p></b>

  <p>Ask if the officer has a warrant. If they don’t have a warrant, you do not have to let them into your home.</p>

  <p>If they have a warrant, ask that they slide it under the door, or through a mail slot. A valid warrant must be signed by an Immigration Court Judge. A warrant issued by DHS or ICE signed without a Judge’s signature is not valid. Look for a signature from a Judge at the top of the document.</p>

  <p>You do not need to open your door to the officers unless they show you a valid search or arrest warrant naming you or a person living at your address.</p>

  <b><p>If officers enter your home without your permission:</p></b>

  <p>Do not resist. You have the right to state that you did not consent to their entry, that you will exercise your right to remain silent, and to request a lawyer. Anyone else in your home also has the right to remain silent.</p>

  <p>Do not show any false documents (IDs, birth certificates, etc.) to the officers.</p>

  <u><p>Do not sign any papers prior to speaking with a lawyer.</p></u>
</div>
