  <div class="container">
    <h3>Your Rights</h3>
    <div class="your-rights">
      <div class="chevron-div"><img class="chevron" src="chevron-double-right.png"></div>
      <div class="question-div"><b><p class="title">If an officer knocks on your door, you do not have to open the door immediately.<br>While the door is closed, ask the following questions:</p></b></div>
        <div class="rights-container">
          <ul class="rights-list">
              <li><p>"Are you immigration agents or from ICE (Immigration and Customs Enforcement)?".</p></li>

              <li><p>"Why have you come to my home?"</p></li>

              <li><p>If the officers don’t speak your language, you have the right to ask for an interpreter.</p></li>

              <li><p>If you open the door to speak with the officer, they do not have the right to come inside your home without your permission.</p></li>
          </ul>
    </div>
    <br>
    <br>
  </div>
<br>
<div class="your-rights">
    <div class="chevron-div"><img class="chevron" src="chevron-double-right.png"></div>
    <div class="question-div"><b><p class="title">If agents ask to enter your home.<br>Ask the following questions:</p></b></div>

      <div class="rights-container">
        <ul>
            <li><p>"Do you have a warrant?".</p></li>

            <li><p>If they don’t have a warrant, you do not have to let them into your home.</p></li>

            <li><p>Please slide the warrant under the door.</p></li>

            <li><p>A valid warrant must be signed by an Immigration Court Judge. A warrant issued by DHS or ICE without a Judge’s signature is invalid. Look for a signature from a Judge at the top of the document.</p></li>

            <li><p>You do not need to open your door to the officers unless they show you a valid search or arrest warrant naming you or a person living at your address.</p></li>

            <li><p>If there is no valid reason for their entry, declare: "I do not consent to your entry."</p></li>
        </ul>
    </div>
    <br>
    <br>
  </div>
<br>
<div class="your-rights">
    <div class="chevron-div"><img class="chevron" src="chevron-double-right.png"></div>
    <div class="question-div"><b><p class="title">If officers enter your home without your permission<br> Remembr the following:</p></b></div>

      <div class="rights-container">
        <ul>
            <li><p>Do not resist. You have the right to state that you did not consent to their entry, that you will exercise your right to remain silent, and to request a lawyer. Anyone else in your home also has the right to remain silent.</p></li>

            <li><p>Do not show any false documents (IDs, birth certificates, etc.) to the officers.</p></li>

            <li><u><p>Do not sign any papers prior to speaking with a lawyer.</p></u></li>
        </ul>
      </div>
      <br>
      <br>
   </div>

 </div>
</div>
