.alertRight {
    padding: 20px;
    background-color: #00cd00; /* light green */
    color: white;
    margin-bottom: 15px;
}
.alertWrong {
  padding: 20px;
  background-color: #ff3f1f; /* light red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
