<footer class="page-footer">
     <div class="container">
       <div class="row">
         <div class="col l6 s12">
           <h5 class="white-text"><%= t '.who_title' %></h5>
           <p class="grey-text text-lighten-4"></p>
         </div>
         <div class="col l4 offset-l2 s12">
           <h5 class="white-text">Navigation</h5>
           <ul>
             <li><%= link_to "Home", root_path, class: "grey-text text-lighten-4" %></li>
             <li><%= link_to "Map", map_path, class: "grey-text text-lighten-4" %></li>
             <li><%= link_to "Your Rights", rights_path, class: "grey-text text-lighten-4" %></li>

           </ul>
         </div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">
       © 2017 SanctuaryApp
       </div>
     </div>
   </footer>
