<h2>Your Rights</h2>

<div id='rights-containter'>
  <ul>
    <li>
      You have the right to...
    </li>
    <li>
      You have the right to..
    </li>
    <li>
      You have the right to..
    </li>
    <li>
      You have the right to..
    </li>
    <li>
      You have the right to..
    </li>
  </ul>
</div>
