<h1>Your Rights</h1>

<div id="rights_container">

  <ul>
    <li>
      You have the right to...
    </li>
    <li>
      You have the right to...
    </li>
    <li>
      You have the right to...
    </li>
    <li>
      You have the right to...
    </li>
    <li>
      You have the right to...
    </li>
    <li>
      You have the right to...
    </li>
  </ul>
</div>
